body {
  background-color: #F8F8F8;
  display: grid;
  place-items: center;
  height: 100vh;
}

.main-container {
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
  padding: 25px;
  margin: 10px 0 0;
}

.formResetBtn {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.success-msg {
  visibility: hidden;
}

.show {
  visibility: visible;
}